aiohttp>=3.8.1,<4
docker>=4.4.0
psutil

# Note : pytest-runner est requis pour apcaccess mais la dependance n'est pas explicite
pytest-runner
apcaccess>=0.0.13,<1

--extra-index-url https://libs.millegrilles.com/python/dist
millegrilles_messages>=2024.6.39

