aiohttp
docker
psutil
# acme certbot
acme
josepy
# Note : pytest-runner est requis pour apcaccess mais la dependance n'est pas explicite
pytest-runner
apcaccess
--extra-index-url https://libs.millegrilles.com/python/dist
millegrilles-messages
PyYAML
