[Unit]
Description=MilleGrilles Instance ({{NODE_TYPE}})
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
WorkingDirectory={{WORKING_DIR}}
EnvironmentFile={{WORKING_DIR}}/config.env
ExecStart=/usr/bin/docker compose -f etc/compose/{{NODE_TYPE}}/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f etc/compose/{{NODE_TYPE}}/docker-compose.yml down
Restart=always

[Install]
WantedBy=default.target
