[Unit]
Description=MilleGrilles certificate issuer
After=network.target

[Service]
Type=simple
WorkingDirectory={{MILLEGRILLES_ROOT}}
EnvironmentFile={{MILLEGRILLES_ROOT}}/config.env
ExecStart=/usr/bin/docker compose -f etc/compose/coremodules/certissuer.yml up
ExecReload=/usr/bin/docker compose -f etc/compose/coremodules/certissuer.yml up -d
ExecStop=/usr/bin/docker compose -f etc/compose/coremodules/certissuer.yml down
Restart=always

[Install]
WantedBy=default.target
