[Unit]
Description=Renouvellement certificats pour instance MilleGrilles {{INSTANCE_NAME}}.
# Requires=docker.service
Wants={{INSTANCE_NAME}}-certissuer.service

[Service]
Type=oneshot
Nice=3
Environment="WEB_PORT=5443"
Environment="CA_PATH={{MILLEGRILLES_ROOT}}/etc/millegrille.pem"
Environment="CERT_PATH={{MILLEGRILLES_ROOT}}/secrets/manager.pem"
Environment="KEY_PATH={{MILLEGRILLES_ROOT}}/secrets/manager.pem"
EnvironmentFile={{MILLEGRILLES_ROOT}}/config.env
ExecStart={{MILLEGRILLES_ROOT}}/venv/bin/python3 -m millegrilles_instance --config {{MILLEGRILLES_ROOT}} --init --verbose
StandardOutput=journal
StandardError=journal
SyslogIdentifier={{INSTANCE_NAME}}_certs_updater

[Install]
WantedBy=default.target
