[Unit]
Description=MilleGrilles service maitre des cles
After=network.target
Wants={{INSTANCE_NAME}}-middleware.service
Wants={{INSTANCE_NAME}}-core.service

[Service]
Type=simple
WorkingDirectory={{MILLEGRILLES_ROOT}}
EnvironmentFile={{MILLEGRILLES_ROOT}}/config.env
ExecStart=/usr/bin/docker compose -f etc/compose/coremodules/maitredescles.yml up
ExecReload=/usr/bin/docker compose -f etc/compose/coremodules/maitredescles.yml up -d
ExecStop=/usr/bin/docker compose -f etc/compose/coremodules/maitredescles.yml down
Restart=always

[Install]
WantedBy=default.target
