[Unit]
Description=Gestionnaire pour instance MilleGrilles {{INSTANCE_NAME}}.
Requires=docker.service
Wants={{INSTANCE_NAME}}-certissuer.service

[Service]
Type=simple
Nice=2
PIDFile=/var/run/{{INSTANCE_NAME}}_manager.pid
Environment="WEB_PORT=5443"
Environment="CA_PATH={{MILLEGRILLES_ROOT}}/etc/millegrille.pem"
Environment="CERT_PATH={{MILLEGRILLES_ROOT}}/secrets/manager.pem"
Environment="KEY_PATH={{MILLEGRILLES_ROOT}}/secrets/manager.pem"
EnvironmentFile={{MILLEGRILLES_ROOT}}/config.env
ExecStart=/var/opt/millegrilles/bin/start_instance.sh
Restart=always
RestartSec=10s
StandardOutput=journal
StandardError=journal
SyslogIdentifier={{INSTANCE_NAME}}_manager

[Install]
WantedBy=multi-user.target
