[Unit]
Description=MilleGrilles Instance ({{NODE_TYPE}})
After=network.target
Wants={{INSTANCE_NAME}}_certissuer.service

[Service]
Type=simple
WorkingDirectory={{MILLEGRILLES_ROOT}}
EnvironmentFile={{MILLEGRILLES_ROOT}}/config.env
ExecStart=/usr/bin/docker compose -f etc/compose/nodetypes/node-{{NODE_TYPE}}.yml up
ExecReload=/usr/bin/docker compose -f etc/compose/nodetypes/node-{{NODE_TYPE}}.yml up -d
ExecStop=/usr/bin/docker compose -f etc/compose/nodetypes/node-{{NODE_TYPE}}.yml down
Restart=always

[Install]
WantedBy=default.target
