[Unit]
Description=MilleGrilles middleware secure
After=network.target
Wants={{INSTANCE_NAME}}-certissuer.service

[Service]
Type=simple
WorkingDirectory={{MILLEGRILLES_ROOT}}
EnvironmentFile={{MILLEGRILLES_ROOT}}/config.env
ExecStart=/usr/bin/docker compose -f etc/compose/middleware/node-secure.yml up
ExecReload=/usr/bin/docker compose -f etc/compose/middleware/node-secure.yml up -d
ExecStop=/usr/bin/docker compose -f etc/compose/middleware/node-secure.yml down
Restart=always

[Install]
WantedBy=default.target
